/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/

body {
  position: absolute;

  display:flex;
  flex-wrap: wrap;

  overflow: hidden;
  
  width: 100vw;
  height: 100vh;

  margin: 0px;
  padding: 0px;

  background-color: #101010;

  user-select: none;
}

/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/

#main {
  position: relative;
  
  flex-grow: 1;
  
  box-sizing: border-box;
  
  width: 70vw;
  height: 100vh;
  
  background-color: #101010;
}

/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/

#menu {
  position: relative;

  display: grid;
  grid-template-rows: repeat(22, 1fr);

  align-items: center;

  flex:  0 1 30%;

  box-sizing: border-box;

  overflow: hidden;

  width: 30vw;
  height: 100vh;

  padding: 4vh 0px;

  background-color: #202020;

  white-space: nowrap;

  transition: flex 0.5s cubic-bezier(0.75, 0, 0, 0.95);
}

/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/

#menu > label {
  grid-column: 1;
}

#menu > span {
  grid-column: 1 / span 2;
}

#menu > input {
  grid-column: 2;
}

#menu > hr {
  grid-column: 1 / span 2;
}

#menu > br {
  grid-column: 1 / span 2;
}

/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/

#toggle-menu-btn {
  position: absolute;

  top: 1vmin;
  right: 1vmin;

  box-sizing: border-box;
  
  width: 5vh;
  height: 5vh;

  border: 2px solid #303030;

  background-color: #101010;
}

#toggle-menu-btn:hover {
  background-color: #303030;
}

/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/

.hidden {
  flex: 0 1 0% !important;
}

/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/

label {
  margin-left: 3.5vw;

  font-family: "Courier New", Courier, monospace;
  font-size: 1vw;

  color: #606060;

  white-space: pre;
}

/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/

span {
  margin-left: 3.5vw;

  font-family: "Courier New", Courier, monospace;
  font-size: 1.5vw;

  color: #606060;

  white-space: pre;
}

/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/

hr {
  margin: 2vh 2vw;
  border: 1px solid #303030;
}

/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/

br {
  margin: 2vh 2vw;
  border: 1px solid #303030;
}

/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/

input[type="number"] {
  width: 8vw;

  font-family: "Courier New", Courier, monospace;
  font-size: 1vw;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/

select {
  width: 8vw;

  font-family: "Courier New", Courier, monospace;
  font-size: 1vw;
}

/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/

input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/

input[type="button"] {
  width: 8vw;

  font-family: "Courier New", Courier, monospace;
  font-size: 1vw;
}

/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
